body {
    background-color: #a1694f; 
  }
  
  button#nextButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button#nextButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
    background-color: #e6b5cd;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #fb008a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    margin: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #ff0481;
  }
  
  p {
    font-weight: bold;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  @media (max-width: 600px) {
    .container {
      width: 100%;
    }
  }
  
  .container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #ffcde7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
